*.class
*.log
*.swp
*.pid
*.seed
pids

# Node
npm-debug.log*
node_modules
build/Release
.node_repl_history

# Sublime Text
*.sublime-project
*.sublime-workspace
.jshintrc

# secret settings
local_conf.js
.eslintrc.json
.eslintignore

# build
**/build/**

.DS_Store
