<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/build/stylesheets/style.css' />
  </head>
  <body>
    <div id='container' class='container-fluid'>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='/build/javascripts/bootstrap.js'></script>
    <script src='/build/javascripts/main.js'></script>
  </body>
</html>
