@import url('bootstrap.min.css');
@import url('bootstrap-theme.min.css');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
  border: 1px solid #6f6f6f;
}

a {
  color: #00B7FF;
}
