@import url('bootstrap.min.css');
@import url('bootstrap-theme.min.css');

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media (min-width: 576px) {
  body {
    padding: 50px;
  }
}

.container-fluid {
  padding: 0px;
}

div {
  /* border: 1px solid #6f6f6f; */
}

a {
  color: #00B7FF;
}

p.help-block {
  font-size: 14px;
}

p.form-group.has-error {
  font-size: 14px;
}

p.small {
  font-size: medium;
}

.chosen {
  background-color: #265a88;
  box-shadow: none;
  opacity: .65;
  border-color: #245580;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: wrap;
  vertical-align: middle;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.scenario {
  box-shadow: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  padding: 6px 12px;
  /* margin-bottom: 0;*/
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: wrap;
  vertical-align: middle;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

div.radio.scenario {
  margin-top: 0px;
  margin-bottom: 0px;
}

img#gif, video#gif {
  max-width: 100%;
  padding-bottom: 15px;
  max-height: 400px;
  margin: auto;
}
